body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.TextContainer {
  position: absolute;
  left: 15vw;
  width: 60vw;
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.textButton {
  border-radius: 5px;
  padding: 5px 10px;
}

.option {
  background-color: lightblue;
  border: 1px solid lightskyblue;
}

.option:hover {
  background-color: lightskyblue;
}

.item {
  background-color: lightgreen;
  border: 1px solid greenyellow;
}

.item:hover {
  background-color: greenyellow;
}

.RightSideGrid {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5vh 45vh 30vh;
  position: absolute;
  right: 5vw;
  top: 5vh;
  width: 15vw;
  padding: 10px;
  row-gap: 5vh;
}

.restartButton {
  background-color: lightcoral;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.restartButton:hover {
  background-color: red;
}

.InventoryContainer {
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
}

.inventoryItems {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 80% 20%;
  row-gap: 3%;
  background-color: #333;
}

.invElemName:hover {
  background-color: burlywood;
}

.invElemName {
  text-align: left;
  background-color: bisque;
  border: none;
}

.invElemNum {
  text-align: right;
  background-color: bisque;
}

.CurrentItemContainer {
  display: grid;
  grid-template-rows: 8% 8% 73% 8%;
  row-gap: 1%;
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
}

.currItemImageContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
