body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.TextContainer {
  position: absolute;
  left: 15vw;
  width: 60vw;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
}

.restartButton {
  position: absolute;
  right: 5vw;
  top: 10vh;
  width: 13vw;
  height: 5vh;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 0 10px 2px;
}

.restartButton:hover {
  background-color: lightgray;
}

.option {
  background-color: lightblue;
  border: 1px solid lightskyblue;
}

.option:hover {
  background-color: lightskyblue;
}

.item {
  background-color: lightgreen;
  border: 1px solid greenyellow;
}

.item:hover {
  background-color: greenyellow;
}

.InventoryContainer {
  position: absolute;
  right: 5vw;
  top: 20vh;
  width: 12vw;
  height: 60vh;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
}

.inventoryItems {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 80% 20%;
  row-gap: 3%;
  background-color: #333;
}

.invElemName {
  text-align: left;
  background-color: whitesmoke;
}

.invElemDesc {
  position: relative;
  display: none;
  background-color: whitesmoke;
  border: 1px solid #333;
  width: 12vw;
}

.invElemName:hover + .invElemDesc {
  display: block;
}

.invElemNum {
  text-align: right;
  background-color: whitesmoke;
}