body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.TextContainer {
  width: 800px;
  max-width: 80%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn {
  background-color: lightblue;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  background-color: lightskyblue;
}

.InventoryContainer {
  position: absolute;
  right: 10vh;
  top: 20vh;
  width: 25vh;
  max-width: 20%;
  height: 60vh;
  max-height: 80%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
}